body {
/*	font-family: 'Montserrat', sans-serif;*/
	font-family: 'Lato', sans-serif;
}

/*navigation*/
.navbar .navbar-brand{
	color: #000000;
	font-weight: bolder;
	padding-left: 3%;
}
.nav-link {
	color: black !important;
	font-weight: bolder;
	font-size: 13px;
	opacity: 0.5;

}


.company {
	font-weight: bold;
	font-size: 18px;
	color: black !important;
}

.desc {
	font-size: 14px;
	color: black;
	font-weight: normal;
}

.featurette-heading {
	font-size: 30px;
	font-weight: bolder;
	color: #000000 !important;

}

.lead{
	font-size: 14px;
	font-weight: normal;
}

.j3 {
/*	background-color:#ffcce6;*/
	background-image: url("images/banner2.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	height: 450px;
}

.lead1 {
	color: #404040;
}

.info li {
	color: #000000;
	font-size: 14px;
	font-weight: normal;
}

/*media queries*/
/* small devices(portrait and large pones, 600px and up)*/
@media only screen and (max-width:600px){

	 .nav-link {
  color: black !important;
  font-weight: bolder;
  font-size: 13px;
  opacity: 0.5;

}

	.navbar-toggler-icon{
		
  background-color: #000000;
  opacity: .5;
  
}

}


/* small devices(portrait and large pones, 600px and up)*/
@media only screen and (min-width:600px){

.nav-link {
  color: black !important;
  font-weight: bolder;
  font-size: 13px;
  opacity: 0.5;

}

.navbar-toggler-icon{
  background-color: #000000;
  opacity: 2.0;
  
}


 

}
