
body {
	font-family: 'Montserrat', sans-serif;
}

/*navigation*/
.navbar .navbar-brand{
	color: #000000;
	font-weight: bolder;
	padding-left: 3%;
}

.navbar .navbar-brand:hover{
  color: #000000;
}
.nav-link {
	color: black;
/*	font-weight: bolder;*/
	font-size: 13px;
  opacity: 0.5;

}

.j1 {
	height: 400px;
	background-image: url("images/photo4.avif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 25px;
	margin-left: 3%;
	margin-right: 4%;
}

.intro1{
	color: white;
	font-weight: bolder;
}

.lead{
	color: white;
	font-weight: normal;
	font-size: 20px;
}

/*categories*/
.cat {
	font-size: 13px;
}
.fa:hover{
  transform: scale(2.0) rotate(0.001deg);
  color:  #ff9900;
}

/*partner stores*/
.mystore {
	margin-left: 2%;
	font-weight: bolder;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px black;
  background-color: #FFF;
  border: 2px solid green;
}

.card-content{
  background-color: #009933;

}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;



}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;

}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
/*  color: #333;*/
color: #ffffff;

}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}
.swiper-navBtn{
/*  color: #6E93f7;*/
color: #000000;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
/*  color: #4070F4;*/
color: #000000;

}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
/*  background-color: #6E93f7;*/
background-color: #000000;
  opacity: 1;
}
.swiper-pagination-bullet-active{
/*  background-color: #4070F4;*/
background-color: #000000;
}

/*media queries*/

@media only screen and (max-width:480px)
{
  body {
/*    background-color: yellow;*/
  }
  .col-lg-2 .cat{
/*    visibility: none;*/
    display: none;
  }


}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}



/*extra small devices(phones, 600px and down)*/
@media only screen  and (max-width:600px){

  body {
/*    background-color: yellow;*/
  }

/*  navbar*/

.nav-link {
  color: black !important;
  font-weight: bolder;
  font-size: 13px;
  opacity: 0.5;

}


.navbar-toggler-icon{
  background-color: #000000;
  opacity: .5;
  
}

/*media queries for icons*/
 .marketing {
  width: 100%;
  padding-left: 30px;
  float: left;
 }

.col-lg-2{
  float: left;
  width: 14%;
 }

}

/* small devices(portrait and large pones, 600px and up)*/
@media only screen and (min-width:600px){

/*navbar*/

  .nav-link {
  color: black !important;
  font-weight: bolder;
  font-size: 13px;
  opacity: 2.0;

}

.navbar-toggler-icon{
  background-color: #000000;
  opacity: .5;
  
}
/*end of navbar*/

  .marketing {
  width: 100%;
  padding-left: 35px;
  float: left;
 }

.col-lg-2{
  float: left;
  width: 14%;
 }

}

/*medium devices(landscape tablet, 768px and up)*/
@media only screen and (min-width:768px){

  .nav-link {
  color: black !important;
  font-weight: bolder;
  font-size: 13px;
  opacity: 0.5;

}

  .navbar-toggler-icon{
  background-color: #000000;
  opacity: .5;
  
}

}





