
body {
	font-family: 'Montserrat', sans-serif;
}

/*navigation*/
.navbar .navbar-brand{
	color: #000000;
	font-weight: bolder;
	padding-left: 3%;
}
.navbar .navbar-brand:hover{
	color: black;
}

.nav-link {
	color: black !important;
	font-weight: bolder;
	font-size: 13px;
	opacity: 0.5;

}

.j3{

	height: 450px;
	background-image: url("images/sdg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-size: cover;
	margin-top: %;
}

.display-6 {
/*	color: #000000;*/
color: #00b33c;
	padding-top: 8%;
}

.lead {
	color: white;
	font-weight: normal;
	font-size: 20px;
}

.exp {
	color: #000000;
	font-size: 14px;
}

/*.featurette{
	position: relative;
}


/*extra small devices (phones, 600px and down)*/
@media only screen and (max-width:600px)
{
	.navbar-toggler-icon{
  background-color: #000000;
  opacity: .5;
  
}

	.j3 {
		margin-top: 10%;
	}

	.display-6 {
		margin-top: 10%;
		font-weight: bold;
		
	}
	
}

/* small devices(portrait and large pones, 600px and up)*/
@media only screen and (min-width:600px){

/*navbar*/

  .nav-link {
  color: black !important;
  font-weight: bolder;
  font-size: 13px;
  opacity: 0.5;

}

.navbar-toggler-icon{
  background-color: #000000;
  opacity: .5;
  
}
/*end of navbar*/

/*.j3 {
		margin-top: 8%;
	}*/

 

}